body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7d5ba6;
    /* Violet background color */
    color: #f4f4f9;
    /* Light color for text */
    direction: rtl;
}

.header-container {
    background-color: #5c4b8a;
    /* Darker violet */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-container h1 {
    margin: 0;
    padding: 0 20px;
    font-family: 'Georgia', serif;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.section {
    padding: 50px 0;
}

.intro-section {
    background-size: cover;
    color: white;
    text-align: center;
}

.intro-section h2 {
    font-size: 2.5em;
}

.intro-section p {
    font-size: 1.2em;
}

.whatsapp-contact {
    text-align: center;
    margin-top: 20px;
}

.whatsapp-contact p {
    font-size: 1.2em;
}

.whatsapp-contact a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    background-color: #25D366;
    padding: 10px 20px;
    border-radius: 50%;
    display: inline-block;
}